body {
    background: tan;
    font-size: 14px;
    font-family: Arial,
    Sans-serif;

	width: 960px;
	min-height: 500px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	background: #fff;
}



.text-centered {
	text-align: center;
}

.underlined {
	text-decoration: underline;
}

img {
    border: 0;
}

a {
    color: #ffcc99;
}

a:hover {
    text-decoration: none;
}

/*Шапка сайта*/
.header {
    height: 70px;
}

li.none-bg {
    background: none !important;
}


.hr {
    width: 940px;
    height: 8px;
    background: tan;
    margin: 0 auto;
}

.menu {
	width: 950px;
	height: 64px;
	background: wheat url(images/m1.png) repeat-x;
	padding: 0 0 0 10px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    float: left;
    padding: 0 2px 0 0;
}

.menu ul li a {
    display: block;
    height: 40px;
    padding: 24px 27px 0 27px;
    color: #6f4e37;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: #fff;
    background: #6f4e37;
}

/*Контент*/
.content {
    width: 960px;
    padding: 20px 0 0 0;
}

/*Контент*/
.content {
    float: center;
    width: 940px;
    padding: 0 0 0 20px;
    text-align: justify;

}





